.card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @include onDesktop {
    flex-direction: row;
  }

  &__logo {
    flex-shrink: 0;
    font-size: 2rem;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid $font-color-primary;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__title {
    text-align: center;
  }

  &__text {
    text-align: center;
  }
}