.page {
  font-family: $ff;
  font-size: $fz-mobile;
  background-color: $bg-color;
  color: $font-color-primary;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;

  @include onDesktop {
    font-size: $fz-desktop;
  }

  &__title {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin: 1.5rem 0;
  }

  &__text {
    text-align: center;
    line-height: 1.5;
    margin: 1rem 0;
  }
}