$ff: 'Roboto Mono', monospace;

$fz-mobile: 1rem;
$fz-desktop: 0.85rem;

$font-color-primary: #2a2c30;
$font-color-secondary: #884b9f;

$bg-color: #ebebeb;
$bg-secondary-color: #878c98;

$burger-size: 1.5rem;